#header-container {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 6px 4px #e50074; ;
    -moz-box-shadow: 0px 4px 6px 4px #e50074; ;
    box-shadow: 0px 4px 6px 4px #e50074; ;
}
.header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-info a {
    cursor: pointer;
}

.student-name {
    font-size: 28px;
    color: black;
}

.meta {
    display: flex;
    gap: 40px

}